body {
    font-family: Arial, sans-serif;
    background-color: #402377;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    margin: 50px auto;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

.nota-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.nota-item {
    margin-bottom: 5px;
    color: #444;
}

#resultado {
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    color: #4CAF50;
}
